In [16]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Lasso,LogisticRegression
from sklearn.feature_selection import SelectFromModel

In [2]:
data = pd.read_csv(r'E:\programming\dataset\BNP Paribas Cardif Claims Management\paribas.csv',nrows = 50000)

In [3]:
print(data.shape)
data.head()

(50000, 133)

,ID,target,v1,v2,v3,v4,v5,v6,v7,v8,...,v122,v123,v124,v125,v126,v127,v128,v129,v130,v131
0,3,1,1.335739,8.727474,C,3.921026,7.915266,2.599278,3.176895,0.012941,...,8.000000,1.989780,0.035754,AU,1.804126,3.113719,2.024285,0,0.636365,2.857144
1,4,1,NaN,NaN,C,NaN,9.191265,NaN,NaN,2.301630,...,NaN,NaN,0.598896,AF,NaN,NaN,1.957825,0,NaN,NaN
2,5,1,0.943877,5.310079,C,4.410969,5.326159,3.979592,3.928571,0.019645,...,9.333333,2.477596,0.013452,AE,1.773709,3.922193,1.120468,2,0.883118,1.176472
3,6,1,0.797415,8.304757,C,4.225930,11.627438,2.097700,1.987549,0.171947,...,7.018256,1.812795,0.002267,CJ,1.415230,2.954381,1.990847,1,1.677108,1.034483
4,8,1,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Z,NaN,NaN,NaN,0,NaN,NaN

In [4]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
num_vars = data.select_dtypes(include = numerics).columns
data = data[num_vars]
data.shape

(50000, 114)

In [9]:
len([col for col in data.columns if data[col].isnull().sum()>0])

0

In [8]:
data = data.fillna(0)

In [11]:
#now there are no missing values in the dataset

In [13]:
#separate the train and test files
X_train,X_test,y_train,y_test = train_test_split(data.drop(['ID','target'],axis=1),data['target'],test_size = 0.3,random_state = 0)
print(X_train.shape,X_test.shape)

(35000, 112) (15000, 112)

In [15]:
sc = StandardScaler()
sc.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [17]:
sel = SelectFromModel(LogisticRegression(C = 1,penalty = 'l1'))
sel.fit(sc.transform(X_train),y_train)

C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

SelectFromModel(estimator=LogisticRegression(C=1, class_weight=None, dual=False,
                                             fit_intercept=True,
                                             intercept_scaling=1, l1_ratio=None,
                                             max_iter=100, multi_class='warn',
                                             n_jobs=None, penalty='l1',
                                             random_state=None, solver='warn',
                                             tol=0.0001, verbose=0,
                                             warm_start=False),
                max_features=None, norm_order=1, prefit=False, threshold=None)

In [18]:
sel.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False,  True,
       False,  True,  True,  True, False,  True,  True,  True, False,
       False,  True,  True,  True,  True, False, False,  True,  True,
       False,  True, False,  True,  True,  True,  True,  True, False,
       False, False, False, False, False,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
       False, False, False,  True,  True,  True,  True, False, False,
       False, False,  True,  True,  True,  True,  True, False, False,
        True, False,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True, False, False,  True,  True, False,  True,
        True,  True,  True, False])

In [21]:
selected_features = X_train.columns[sel.get_support()]
print('The total cols are - {}'.format(X_train.shape[1]))
print('The number of removed cols are - {}'.format(X_train.shape[1] - len(selected_features)))

The total cols are - 112
The number of removed cols are - 33

In [22]:
X_train = X_train[selected_features]
X_test = X_test[selected_features]
print(X_train.shape,X_test.shape)

(35000, 79) (15000, 79)

## Regerssion

In [24]:
data = pd.read_csv(r'E:\programming\dataset\House Pricing\train.csv')
data.shape

(1460, 81)

In [25]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
num_cols = data.select_dtypes(include = numerics).columns
data = data[num_cols]
data.shape

(1460, 38)

In [26]:
data.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,192,84,0,0,0,0,0,12,2008,250000

In [27]:
X_train,X_test,y_train,y_test = train_test_split(data.drop(['SalePrice'],axis=1),data['SalePrice'],test_size = 0.3,random_state = 0)
print(X_train.shape,X_test.shape)

(1022, 37) (438, 37)

In [31]:
len([col for col in X_train.columns if X_train[col].isnull().sum() >0])

0

In [30]:
X_train = X_train.fillna(0)
X_test = X_test.fillna(0)

In [32]:
sc = StandardScaler()
sc.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [35]:
sel = SelectFromModel(Lasso(alpha = 100))
sel.fit(sc.transform(X_train),y_train)

SelectFromModel(estimator=Lasso(alpha=100, copy_X=True, fit_intercept=True,
                                max_iter=1000, normalize=False, positive=False,
                                precompute=False, random_state=None,
                                selection='cyclic', tol=0.0001,
                                warm_start=False),
                max_features=None, norm_order=1, prefit=False, threshold=None)

In [36]:
sel.get_support()

array([False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True])

In [38]:
selected_features = X_train.columns[sel.get_support()]
print('The total features are {}'.format(X_train.shape[1]))
print('The removed features are {}'.format(X_train.shape[1] - len(selected_features)))

The total features are 37
The removed features are 4

In [ ]:
X_train = X_train[selected_features]
X_test = X_test[selected_features]
p